:global(body) {
  margin: 0;
}

:global(#app) {
  height: 100vh;
  display: flex;
  flex-direction: column;
}

:global(#app) > * {
  flex: 1;
}

.main {
  display: flex;
  flex-direction: column;
}

.tasks {
  flex: 1;
  padding: .5rem;
  overflow: auto;
}
